name: Deploy MLOps API to Cloud Run

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: clever-muse-483020-j5

      - name: Build and push Docker image
        run: |
          gcloud auth configure-docker --quiet
          docker build -t gcr.io/clever-muse-483020-j5/mlops-api:$GITHUB_SHA .
          docker push gcr.io/clever-muse-483020-j5/mlops-api:$GITHUB_SHA

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy mlops-api \
            --image gcr.io/clever-muse-483020-j5/mlops-api:$GITHUB_SHA \
            --platform managed \
            --region us-central1 \
            --allow-unauthenticated \
            --quiet
